.letterwrap {
  display: grid;
  grid-template-columns: max-content auto;
  font-family: "Oswald", sans-serif;
}
.letterReference {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  width: 20vw;
}
.letterArchive {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: calc(90vh / 1.35) calc(10vh / 1.35);
  grid-template-rows: calc(35vh / 1.35) calc(55vh / 1.35) calc(45vh / 1.35);
}
.topLeft {
  grid-column: 1/2;
  grid-row: 1/2;
  border-bottom: #0d345c 4px solid;
  display: grid;
  grid-template-columns: calc(40vh / 1.35) calc(15vh / 1.35) calc(35vh / 1.35);
  grid-template-rows: calc(15vh / 1.35) calc(20vh / 1.35);
}
.redRect {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #a9220e;
  border-bottom: #0d345c 4px solid;
}
.biebl {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
  margin-bottom: 2vh;
  margin-right: calc(15vh / 1.35 / 2.5);
}
.biebl strong {
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 0.32rem;
}
.middle {
  grid-column: 1/2;
  grid-row: 2/3;
  border-bottom: #0d345c 4px solid;
  display: grid;
  grid-template-columns: calc(40vh / 1.35) calc(50vh / 1.35);
}
.mrect1 {
  grid-column: 1/2;
}
.mrect2 {
  grid-column: 2/3;
  border-left: #a9220e 4px solid;
  display: grid;
  grid-template-columns: minmax(0, calc(15vh / 1.35)) 1fr;
}
.redLines {
  grid-column: 1/2;
}
.bottomLeft {
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: calc(40vh / 1.35) calc(50vh / 1.35) calc(10vh / 1.35);
  grid-template-rows: calc(20vh / 1.35) calc(25vh / 1.35);
}
.brect1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.brect2 {
  grid-column: 2/4;
  grid-row: 1/2;
  border-left: #a9220e 4px solid;
  border-bottom: #a9220e 4px solid;
  display: grid;
  grid-template-columns: calc(50vh / 1.35) calc(10vh / 1.35);
}
.zlom {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  margin-right: calc(4vh / 1.35);
}
.zlom strong {
  font-size: 4em;
  color: #0d345c;
  letter-spacing: 0.7rem;
}
.brect3 {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #0d345c;
  letter-spacing: 0.62rem;
  justify-self: end;
  align-self: start;
  margin-top: 2vh;
  margin-right: calc(4vh / 1.35);
}
.right {
  grid-column: 2/3;
  grid-row: 1/4;
  border-left: #0d345c 4px solid;
}
